.table-container {
  width: 100%;
  padding: 0.5rem;
  overflow-x: auto;
}

@media (max-width: 1024px) {
  .table-container table {
    font-family: Arial, Helvetica, sans-serif;
  }

  .table-container tr {
    display: flex;
  }

  .table-container tr:first-child {
    font-weight: 600;
    color: #545155;
  }

  .table-container td {
    width: 250px;
    padding: 0.75rem;
    background-color: whitesmoke;
  }

  .table-container tr:not(:last-child) td {
    border-bottom: 1px solid #dad9d6;
  }

  .table-container td:not(:first-child) {
    text-align: right;
  }

  .table-container td:not(:last-child) {
    margin-right: 8px;
  }
}

@media (max-width: 360px) {
  .table-container tr td:first-child {
    display: none;
  }
}
