@media (max-width: 1024px) {
  .table-container {
    width: 100%;
    padding: 0.5rem;
    overflow-x: auto;
  }

  .table-container table {
    font-family: Arial, Helvetica, sans-serif;
  }

  .table-container tbody {
    display: flex;
    gap: 0.5rem;
  }

  .table-container tr {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 0.75rem;
    box-shadow: 0 0 6px 2px #dad9d6;
  }

  .table-container tr td {
    max-width: 300px;
    border-bottom: 1px solid #dad9d6;
    overflow-wrap: break-word;
  }

  .table-container tr td:last-child {
    border-bottom: none;
  }

  .table-container td:first-child {
    padding: 1rem 0;
  }

  .table-container td:first-child {
    font-weight: 600;
    color: #545155;
  }

  .table-container td:not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    padding: 0.75rem 0;
  }

  .table-container td:not(:first-child)::before {
    content: attr(data-label);
    color: #789ce4;
  }

  .table-container tr:nth-child(odd) td:not(:first-child) {
    color: #8a2126;
  }

  .table-container tr:nth-child(even) td:not(:first-child) {
    color: #f6c86f;
  }
}
